{% if messages %}

    {% for message in messages %}
    <div id="message" class="container">
    <div{% if message.tags %} class=" alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} {% endif %}
        {{ message }}
    </div>
    </div>
    {% endfor %}

{% endif %}